    <ActionBar>
            <GridLayout columns="auto,*,auto" verticalAlignment="top" padding="20" background-color="grey" fontSize="10">
            <Label row="1" col="0" text="Logout" (tap)="logout()" color="rgb(38, 133, 243)"></Label>
            <Label row="1" col="1" text="Team's Revenue" style.textAlignment="center" color="black"></Label>
            <Label row="1" col="2" text="Add" (tap)="addeditRecord()" color="rgb(38, 133, 243)"></Label>
            
            </GridLayout>
    </ActionBar>