/* Add mobile styles for the component here.  */
/* Add mobile styles for the component here.  */
/* flexboxlayout{
    justify-content: center;
    align-items: center;
    } */

.activity{
        margin:5;
        font-size: 16;
        padding: 10;} 
